<plugin name="DescribeDisplay" load="immediate">
   <description>Write out a description of the current display in XML.</description>
   <author>Deborah Swayne</author>
   <dll name="plugins/DescribeDisplay/describedisplay.la">
    <init onCreate="addToToolsMenu" onClose="closeWindow" />
  </dll>
</plugin>
