/src/config.h
/ABOUT-NLS
/GPATH
/GRTAGS
/GTAGS
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/config/
/configure
/doc/Makefile
/doc/Makefile.in
/ggobi-system.pc
/ggobi.pc
/libtool
/m4/*
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/src/.deps/
/src/Makefile
/src/Makefile.in
/src/config.h.in
/src/stamp-h1
/plugins/DataViewer/INSTALL
/plugins/DataViewer/Makefile.in
/plugins/DataViewer/aclocal.m4
/plugins/DataViewer/autom4te.cache/
/plugins/DataViewer/compile
/plugins/DataViewer/config.guess
/plugins/DataViewer/config.h.in
/plugins/DataViewer/config.sub
/plugins/DataViewer/configure
/plugins/DataViewer/depcomp
/plugins/DataViewer/install-sh
/plugins/DataViewer/ltmain.sh
/plugins/DataViewer/missing
/plugins/DescribeDisplay/INSTALL
/plugins/DescribeDisplay/Makefile.in
/plugins/DescribeDisplay/aclocal.m4
/plugins/DescribeDisplay/autom4te.cache/
/plugins/DescribeDisplay/compile
/plugins/DescribeDisplay/config.guess
/plugins/DescribeDisplay/config.h.in
/plugins/DescribeDisplay/config.sub
/plugins/DescribeDisplay/configure
/plugins/DescribeDisplay/depcomp
/plugins/DescribeDisplay/install-sh
/plugins/DescribeDisplay/ltmain.sh
/plugins/DescribeDisplay/missing
/plugins/GraphAction/INSTALL
/plugins/GraphAction/Makefile.in
/plugins/GraphAction/aclocal.m4
/plugins/GraphAction/autom4te.cache/
/plugins/GraphAction/compile
/plugins/GraphAction/config.guess
/plugins/GraphAction/config.h.in
/plugins/GraphAction/config.sub
/plugins/GraphAction/configure
/plugins/GraphAction/depcomp
/plugins/GraphAction/install-sh
/plugins/GraphAction/ltmain.sh
/plugins/GraphAction/missing
/plugins/GraphLayout/INSTALL
/plugins/GraphLayout/Makefile.in
/plugins/GraphLayout/aclocal.m4
/plugins/GraphLayout/autom4te.cache/
/plugins/GraphLayout/compile
/plugins/GraphLayout/config.guess
/plugins/GraphLayout/config.h.in
/plugins/GraphLayout/config.sub
/plugins/GraphLayout/configure
/plugins/GraphLayout/depcomp
/plugins/GraphLayout/install-sh
/plugins/GraphLayout/ltmain.sh
/plugins/GraphLayout/missing
/plugins/Makefile
/plugins/Makefile.in
/plugins/VarCloud/INSTALL
/plugins/VarCloud/Makefile.in
/plugins/VarCloud/aclocal.m4
/plugins/VarCloud/autom4te.cache/
/plugins/VarCloud/compile
/plugins/VarCloud/config.guess
/plugins/VarCloud/config.h.in
/plugins/VarCloud/config.sub
/plugins/VarCloud/configure
/plugins/VarCloud/depcomp
/plugins/VarCloud/install-sh
/plugins/VarCloud/ltmain.sh
/plugins/VarCloud/missing
/plugins/ggvis/INSTALL
/plugins/ggvis/Makefile.in
/plugins/ggvis/aclocal.m4
/plugins/ggvis/autom4te.cache/
/plugins/ggvis/compile
/plugins/ggvis/config.guess
/plugins/ggvis/config.h.in
/plugins/ggvis/config.sub
/plugins/ggvis/configure
/plugins/ggvis/depcomp
/plugins/ggvis/install-sh
/plugins/ggvis/ltmain.sh
/plugins/ggvis/missing
*~
*.lo
.libs