<plugin name="Barplot Display Type" load="immediate"><!-- load may be on demand. -->
   <description>Display barplot for a variable.</description>
   <author>Heike Hoffman, Debbyg Swayne, Duncan Temple Lang</author>
   <dll name="plugins/CategoricalPlots/CategoricalPlots.so">
    <init onCreate="addBarplotMenuItems" onUpdateDisplayMenu="addBarplotMenuItems" />
  </dll>
</plugin>
