<plugin name="Image" load="immediate">
   <description>Saves a GGobi splot to a file.</description>
   <notes>
    <note>Much more work is needed on this plugin to handle
         <ul>
           <li> colors
           </li>
           <li> multiple splots in a displayd
           </li>
         </ul>
   </note>
   </notes>
   <author>Duncan Temple Lang</author>
   <dll name="plugins/ImageLib/ImagePlugin.so">
    <init onCreate="init_image_plugin" />
  </dll>
</plugin>
