<plugin name="VarCloud" load="immediate"><!-- load may be on demand. -->
   <description>generate variogram scatterplot</description>
   <author>Deborah Swayne and Juergen Symanzik</author>
   <dll name="plugins/VarCloud/plugin.la">
    <init onCreate="addToToolsMenu" onClose="closeWindow"/>
  </dll>
</plugin>
