<plugin name="PlotMenu" load="immediate">
   <description>Provides a simple popup menu on certain plot panels.</description>
   <documentation> 
      This plugin, at its simplest, provides a menu on each panel in a
      display. The menu provides facilities that are specific to the
      type of panel and plot.
      For example, on a parallel coordinates plot panel, we would have 
      menu items to remove the panel, add a new panel with a selection
      of the variables in the dataset or the ones that are not 
      currently in the display, or switch variable to one that is not
      in the plot.
      
      This plugin replicates the code in the control panel, but is
      less modal and provides a different interface. It reduces the need
      to use the control panel.   The code is also simpler, and it
      should be easier to add new interface elements here than within
      the GGobi code itself.
   </documentation>

   <author>Duncan Temple Lang</author>
   <email>duncan@wald.ucdavis.edu</email>

   <dll name="plugins/PlotMenu/PlotMenu.so">

    <init onLoad="onLoadPlotMenu" />

  </dll>
</plugin>
