<inputPlugin name="testInput" interactive="true">
  <description>Generates random data via an input plugin</description>
  <author>Duncan Temple Lang</author>
  
  <modeNames>
    <modeName>testInput</modeName>
    <modeName>randomData</modeName>
  </modeNames>
  <dll name="plugins/TestInput/TestInput"> 
      <init description="test_input_description" />
  </dll>
  <description>
   From the development directory,
   <usage>
    run --datamode=testInput --plugin=plugins/TestInput/plugin.xml
    run --datamode=randomData --plugin=plugins/TestInput/plugin.xml
   </usage>
  </description>
</inputPlugin>



