<plugins>
<plugin name="Perl" providesLanguage="Perl">
   <description>Loads the Perl interpreter engine for use by other plugins</description>
   <author>Duncan Temple Lang</author>
   <options>
    <args>
     <arg>ggobi.pl</arg>
    </args>
   </options>
   <dll name="/home/duncan/Projects/ggobi/ggobi/plugins/Perl/PerlPlugin.so">
    <init onLoad="Perl_onLoad" processPlugin="Perl_processPlugin" />
  </dll>
</plugin>

<plugin name="Perltest" language="Perl">
 <description>Test of the Perl plugin mechanism.</description>
  <author>Duncan Temple Lang</author>
  <options>
   <named>
    <name>myPlugin</name>
    <init>why not!</init>
   </named>
   <args>
    <arg>a</arg>
    <arg>bcd efg</arg>
   </args>
  </options>
  <dll>
     <!-- 
     The onLoad is the name of a module that is loaded via a call to 
     require. onCreate is the name of the Perl class for which to call new()
     with the different arguments.  -->
    <init onLoad="testPlugin" onCreate="GGobi::TestPlugin" />
  </dll>
</plugin>

<inputPlugin name="PerlInputTest" language="Perl">
  <description>Test of the Perl input plugin mechanism</description>
  <author>Duncan Temple Lang</author>
  <options>
   <named>
    <numRows>5</numRows>
   </named>
  </options>
  <dll>
   <init onLoad="randomPlugin" onCreate="randomPlugin"/>
  </dll>
</inputPlugin>


<inputPlugin name="PerlInputTest" language="Perl" interactive="true">
  <description>Test of the Perl input plugin mechanism</description>
  <modeName>perl</modeName>
  <author>Duncan Temple Lang</author>
  <options>
   <named>
    <numRows>5</numRows>
   </named>
  </options>
  <dll>
   <init onLoad="randomPlugin" read="PullRandom"/>
  </dll>
</inputPlugin>

</plugins>
