<plugin name="Data Viewer" load="immediate"><!-- load may be on demand. -->
   <description>Displays datasets in data grid.</description>
   <author>Michael Lawrence</author>
   <dll name="plugins/DataViewer/libdataviewer.la">
    <init onCreate="addToMenu" onClose="closeWindow" />
  </dll>
</plugin>
